h1{
    height:auto;
    color: rgb(245, 242, 242);
    background-color:#969090;
    font-size: 2rem;
    text-align: center;
    }
h5{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    background: #919191;
    padding: 06px;

}


